<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="root-menu">
		<item label="run osu!">
			<action name="Execute">
				<execute>command</execute>
			</action>
		</item>
		<item label="run osu!lazer">
			<action name="Execute">
				<execute>osu-lazer</execute>
			</action>
		</item>
		<separator/>
		<item label="Browser">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Telegram">
			<action name="Execute">
				<execute>Telegram -- %u</execute>
			</action>
		</item>
		<item label="Discord">
			<action name="Execute">
				<execute>discord</execute>
			</action>
		</item>
		<menu id="None-845856-66334" label="Programs">
			<item label="Terminal">
				<action name="Execute">
					<execute>alacritty</execute>
				</action>
			</item>
			<item label="File Manager">
				<action name="Execute">
					<execute>nemo</execute>
				</action>
			</item>
			<item label="Notepad">
				<action name="Execute">
					<execute>mousepad</execute>
				</action>
			</item>
		</menu>
		<menu id="None-845856-33452" label="Settings">
			<menu id="None-845856-33452-254714" label="Looks">
				<item label="GTK Themes">
					<action name="Execute">
						<execute>lxappearance</execute>
					</action>
				</item>
				<item label="Qt Themes">
					<action name="Execute">
						<execute>qt5ct</execute>
					</action>
				</item>
				<item label="Rofi Themes">
					<action name="Execute">
						<execute>rofi-theme-selector</execute>
					</action>
				</item>
				<item label="Wallpaper">
					<action name="Execute">
						<execute>nitrogen</execute>
					</action>
				</item>
			</menu>
			<menu id="None-845856-33452-711151" label="System">
				<item label="Video">
					<action name="Execute">
						<execute>lxrandr</execute>
					</action>
				</item>
				<item label="Nvidia">
					<action name="Execute">
						<execute>nvidia-settings</execute>
					</action>
				</item>
				<item label="Audio">
					<action name="Execute">
						<execute>pavucontrol</execute>
					</action>
				</item>
				<item label="Drives">
					<action name="Execute">
						<execute>alacritty -e pkexec gparted</execute>
					</action>
				</item>
				<item label="CPU Monitoring">
					<action name="Execute">
						<execute>alacritty -e btop</execute>
					</action>
				</item>
				<item label="GPU Monitoring">
					<action name="Execute">
						<execute>alacritty -e nvtop</execute>
					</action>
				</item>
			</menu>
			<menu id="None-845856-33452-671159" label="Openbox">
				<item label="Appearance">
					<action name="Execute">
						<execute>lxappearance</execute>
					</action>
				</item>
				<item label="This Menu">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<item label="Keybinds">
					<action name="Execute">
						<execute>obkey</execute>
					</action>
				</item>
				<separator/>
				<item label="Reconfigure Openbox">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart Openbox">
					<action name="Restart"/>
				</item>
			</menu>
			<item label="OpenTabletDriver">
				<action name="Execute">
					<execute>otd-gui</execute>
				</action>
			</item>
			<menu id="None-845856-33452-321051" label="Open .osu with...">
				<item label="Stable">
					<action name="Execute">
						<execute>command</execute>
					</action>
				</item>
				<item label="Lazer">
					<action name="Execute">
						<execute>command</execute>
					</action>
				</item>
			</menu>
		</menu>
		<separator/>
		<menu id="None-845856-42424" label="Power">
			<item label="Log Out">
				<action name="Exit"/>
			</item>
			<item label="Reboot">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
